# .gitignore

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual Environment
venv/

# PyCharm Project Files
.idea/

# Database Files
*.sqlite3

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/




.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
